[submodule "lib/hll"]
	path = lib/hll
	url = https://github.com/a-fiorito/hll.git
	branch = master
[submodule "ass_3/lib/glm"]
	path = ass_3/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "ass_3/lib/CImg"]
	path = ass_3/lib/CImg
	url = https://github.com/dtschump/CImg.git
